.wrapper{
	padding: 0px;
	margin: -8px;
	font-family: Lucida Sans Unicode; 
	overflow-x: hidden;
	scroll-behavior: smooth;
}
.top{
	background-image: url('../images/main.jpg');
	background-repeat: no-repeat;
	background-size: 1350px 590px;
	overflow: hidden;
	height: 590px;
	margin: 0px;
	color:white;
}
h2{
	text-align: center;
	font-size:365%;
	margin-top: 120px;
	margin-bottom: 0px;
	font-weight: normal;
	animation-delay: 1s;
}
.middle1, .middle2,.middle3{
	display: grid;
	grid-template-columns:35% 35%;
	grid-column-gap: 15%;
	grid-row-gap:8%;
	padding-left: 70px;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	background-position: center;
	padding-top:100px;
	width: 98.5%;
	text-align: center;
	height: 482px;
}
.middle1{
	background-color: #F44336;
}
.middle2{
	background-color: #CDDC39;
}
.middle3{
	background-color: #8e24aa;
}
hr{
	vertical-align: center;
}
.arrowUp{
	margin-top: 200px;
	margin-left: 650px;
}
.firstBlock{
	font-size: 130%;
}
.topText{
	font-size: 110%;
	text-align: center;
	margin-top: -10px;
}