#signUp{
	background-image: url('../images/su.jpg');
	background-position: center;
	background-repeat: no-repeat;
	width:100%;
	height: 656px;
	margin:0px;
}
#form{
	position: absolute;
	margin-left: 37%;
	margin-top: 11%;
	padding-left: 55px;
	padding-right: 55px;	
}
a:hover{
	color:#cbd1d3;
}
#listUp{
	list-style-type: none;
	display: inline;
	color:white;
	margin-top: 600px;
	position: relative;
}	
li{
	display: inline;
	padding: 20px;
}
#listUp a{
	text-decoration: none;
	color:white;
}
#alreadyAcc{
	color:#CFD8DC;
	text-align: center;
	font-weight: bold;
	margin-top: 465px;
	font-size:90%;
	margin-left: 400px;
	z-index: 100;
}
#alreadyAcc a{
	text-decoration: none;
	color:#4CAF50;
}
#alreadyAcc a:hover{
	text-decoration: underline;
}