.wrapper{
	padding: 0px;
	font-family: cursive; 
	overflow-x: hidden;
}

.appBar p{
	display: inline
}

#barTitle{
	font-size: 250%;
	margin:14px;
	font-family: cursive;
	margin-left: 25px;
	font-weight:  bold;
	margin-right: 830px;
}
#barTitle a{
	text-decoration: none;
	color:white;
}
.appBar{
	position:fixed;
	padding:0px;
	width:100%;
	margin-top: 0px;
	color:white;
	border-color:none;
	background-color:#006064;
	z-index: 20;
	animation-delay: -0.3s;
	height:68px;
	padding-top: 6px;
}